<a href="https://colab.research.google.com/github/Erick-Baco/Python_POO/blob/main/LunesPOO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Esto es un comentario
print("Hola mundo") #Esro imprime "Hola Mundo"

Hola mundo

In [ ]:
!ls -a

.  ..  .config	sample_data

In [ ]:
print("Hola", "Mundo") #La coma separa con un espacio

print("Hola" + "Mundo") # el + une los dos

print("Hola", "Mundo", sep="-")  # Imprime: Hola-Mundo
                                # el sep indica que poner en lugar del
                                #  espacio dado por la coma

print("Hola", end="")
print("Mundo")  # Imprime: HolaMundo

Hola Mundo
HolaMundo
Hola-Mundo
HolaMundo

In [ ]:
nombre = "José"
carrera = "ICO, la mejor"
print("Mi nombre es {1} y estudio {0} en la FES Aragón".format(nombre, carrera))
print(f"Mi nombre es {nombre} y estudio en {carrera*2} dentro de la FES")

Mi nombre es ICO, la mejor y estudio José en la FES Aragón
Mi nombre es José y estudio en ICO, la mejorICO, la mejor dentro de la FES

In [ ]:
# Operadores aritméticos
suma = 5 + 3    # 8
resta = 5 - 3   # 2
producto = 5 * 3  # 15
division = 5 / 3  # 1.66667
division2 = 5 // 3 # 1
modulo = 5 % 3   # 2
potencia = 5 ** 3  # 125

In [ ]:
division2

1

In [ ]:
# Operadores de comparación
igual = 5 == 3  # False
diferente = 5 != 3  # True
mayor_que = 5 > 3  # True
menor_que = 5 < 3  # False
mayor_o_igual_que = 5 >= 3  # True
menor_o_igual_que = 5 <= 3  # False

In [ ]:
igual

False

In [ ]:
# Operadores lógicos
y = True and False  # False
o = True or False  # True
no = not True  # False

In [ ]:
no

False

In [ ]:
saludo = "Hola Mundo"
cita = 'Los alumnos \n de \tICO \t\'dicen\': "Hola Mundo"'
parrafo = """Esto es un párrafo
que abarca varias
líneas"""

In [ ]:
print(cita)

Los alumnos
 de 	ICO 	'dicen': "Hola Mundo"

In [ ]:
def fn_uno():
    print("Hola")
a, b, c = 10, "Hola", fn_uno
print(a)
print(b)
print(c)

c.__call__()

10
Hola
<function fn_uno at 0x7fb768361fc0>
Hola

In [ ]:
# entrada por teclado
nombre = input("Por favor, introduce tu nombre: ")
print(f"Hola {nombre}!")

Por favor, introduce tu nombre: Erick
Hola Erick!

In [ ]:
numero = int("3")
print(numero)
edad = int(input("Introduce tu edad:"))
print(f"{nombre} tiene {edad} años")

3
Introduce tu edad:18
Erick tiene 18 años

In [ ]:
mensaje = "Hola Mundo"  # String
edad = 20               # Integer
pi = 3.14159            # Float
es_mayor = True         # Boolean
imaginario = 3 + 4j     # Imaginario

In [ ]:
imaginario

(3+4j)

In [ ]:
frutas = ['limon','aguacate','fresa']
print(frutas[2])
print(frutas[-1])

fresa
fresa

In [ ]:
cosas = ['limon',10,True,[1,2,3,4],3.1416]
print(cosas[3][0])

1

#Slicing en pyton

[inicio : stop : step ]

es la posibilidad de obtener rebanadas a partir de un tipo de de datos lista o tupla,
en general de un iterable. Un tipo de String es un iterable.

por defecto:

inicio = 0

stop es igual al tamaño de la variable

step = 1

In [ ]:
ejemplo = [1,2,3,4,5,6,'a','b','c','d']
print(ejemplo)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd']

In [ ]:
rebanada = ejemplo[6:9:1]
print(rebanada)

['a', 'b', 'c']

In [ ]:
frutas_dos = ('aguacate','limon','naranja')
print(frutas)
print(frutas_dos)

frutas[1] = 'piña'
#frutas_dos[1] = 'piña'

print(frutas[1])
print(frutas_dos[1])

print(frutas_dos[1:2:1])

print(frutas_dos[-1])

['limon', 'piña', 'fresa']
('aguacate', 'limon', 'naranja')
piña
limon
('limon',)
naranja

#Teoría de diccionarios

1. Es un conjunto de pares llave valor
2. Agrupados por ':'
3. La llave siempre es de tipo string
4. El valor puede ser de cualquier tipo
1. El selector es de la forma ['llave']
1. Es mutable
1. se declara entre los caracteres '{y}'
1. Los pares están separados por comas ','

In [ ]:
alumno = {'numero_cuenta': 123123, 'carrera' : 'ICO',
          'direccion' : {'calle' : 'rancho seco', 'numero': 23}}
print(alumno['direccion'])
print(alumno['direccion']['calle'])
print(alumno['direccion']['calle'][3:6:1])

{'calle': 'rancho seco', 'numero': 23}
rancho seco
cho